BROKER_REDPANDA_BOOTSTRAP_USER_USERNAME=""
BROKER_REDPANDA_BOOTSTRAP_USER_PASSWORD=""
BROKER_REDPANDA_CONSOLE_ADMIN_USERNAME=""
BROKER_REDPANDA_CONSOLE_ADMIN_PASSWORD=""
BROKER_REDPANDA_CONSOLE_JWT_SECRET=""
BROKER_REDPANDA_CLOUD_STORAGE_ACCESS_KEY=""
BROKER_REDPANDA_CLOUD_STORAGE_SECRET_KEY=""